@media (max-width: 1199px) {
  /* navbar section */
  .home_section {
    height: 25vh;
    width: 75%;
    left: 25%;
  }
  .header_nav {
    width: 82%;
  }
  .header_ul {
    width: 80%;
  }
  .header_icons {
    width: 9%;
  }
  /* navbar section */
  /* home section */
  .home_section_container {
    top: 6em;
  }

  .home_img {
    width: 300px;
    height: 300px;
  }

  .home_section_div1 h1 {
    font-size: 2em;
  }
  .home_section_div1 p {
    font-size: 1.1em;
    margin: 0.8em 0;
  }
  .home_subheading {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .home_subheading p {
    font-size: 0.9em;
  }

  /* home section */
  /* about section */
  .home_section_div1:before {
    top: 8em;
  }
  .about_section {
    margin-top: 9em;
  }
  .about_heading_container {
    top: 2em;
  }
  .about_heading_div2 {
    width: 100%;
  }
  .card1 {
    right: 10.5em;
    top: -1em;
  }
  .card2 {
    top: 0em;

    left: 10em;
  }
  .card3 {
    top: 1em;

    right: 10em;
  }
  .about_cards_div2 {
    padding: 0.2em;
  }
  .about_cards_div1 {
    padding: 0.2em 0.2em 0.2em 1em;
  }
  .about_container {
    width: 55%;
    height: 43vh;
    margin-top: 4em;
  }
  .about_section::before {
    margin-left: 1em;
    width: 95%;
    z-index: -1;
    padding-bottom: 1em;
  }
  .about_heading_div1 h1 {
    font-size: 1.6em;
    width: 87%;
    font-weight: 400;
  }
  .about_heading_div2 h4 {
    font-size: 1.1em;
    width: 100%;
    font-weight: 400;
  }
  /* about section */
  /* value section */
  .value_section:before {
    top: -19em;
  }
  .value_section {
    margin-top: 2em;
    padding-bottom: 1em;
  }
  .value_container2_div1 h2 {
    margin: 1em 0;
    font-size: 1.6em;
    font-weight: 100;
  }
  .value_container2_div1 {
    width: 80%;
  }
  .value_container2_img img {
    height: 13em;
    margin-left: 1.5em;
  }
  .value_container1_div1 h1 {
    margin-bottom: 0.9em;
    font-size: 2em;
    font-weight: 200;
  }
  /* value section */
  /* subscribe section */
  .suscribe_div1 {
    padding-top: 3em;
  }
  .suscribe_div1_input {
    width: 38%;
  }
  /* subscribe section */
  /* footer section */
  .footer_section {
    margin-top: 4em;
  }
  /* footer section */
}

@media (max-width: 768px) {
  /* navbar section */
  .home_section {
    height: 25vh;
    width: 75%;
    left: 25%;
  }
  .header_nav {
    width: 90%;
  }
  .header_ul {
    width: 85%;
  }
  /* navbar section */
  /* about section */
  .about_section {
    margin-top: 11em;
  }
  .about_container {
    width: 50%;

    margin-top: 5em;
  }
  /* about section */
}
@media (max-width: 767px) {
  /* navbar section */
  .mobile_icons {
    display: inline-flex;
  }
  #check:checked ~ .mobile_icons #menu-icon {
    display: none;
  }
  .mobile_icons #close-icon {
    display: none;
  }
  #check:checked ~ .mobile_icons #close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(23 36 48 / 29%);
    backdrop-filter: blur(50px);
    box-shadow: 0.5rem 1rem rgb(23 36 48 / 0%);
    overflow: hidden;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar {
    height: 35vh;
  }

  .navbar a {
    text-align: center;
    margin: 1.1rem 0;
    display: block;
    transform: translateY(-50px);
    transition: 0.3s ease;
    opacity: 0;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .header_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header_ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .header_icons {
    display: none;
  }
  .header {
    padding: 2px 20px;
  }
  /* navbar section */
  /* home section */
  .home_section_container {
    top: 4.5em;
    left: 0em;
  }

  .home_img {
    width: 90%;
    height: 300px;
  }
  .mobile_home_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .home_section_div {
    flex-direction: column;
  }
  .home_section_div1 {
    padding: 0em 0em 1em 1em;
    width: 100%;
  }
  .home_section_div1 h1 {
    font-size: 1.6em;
    width: 80%;
  }
  .home_section_div1 p {
    font-size: 1em;
    margin: 0.8em 0;
  }
  .home_subheading {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 13.8em;
  }

  .home_subheading p {
    font-size: 0.8em;
  }
  .home_btn {
    height: 3.5em;
    width: 11em;
  }
  /* home section */
  /* about section */
  .home_section_div1:before {
    top: 20em;
  }
  .about_section {
    margin-top: 26em;
  }
  .about_heading_container {
    top: 1em;

    flex-direction: column;
    justify-content: space-between;
  }
  .about_heading_div2 {
    width: 100%;
  }
  .card1 {
    right: 0em;
    top: -4em;
  }
  .card2 {
    top: -2em;

    left: 0em;
  }
  .card3 {
    top: 0em;

    right: 0em;
  }
  .about_cards_div2 {
    padding: 0.2em;
  }
  .about_cards_div1 {
    padding: 0.4em 0.4em 0.4em 1em;
  }
  .about_container {
    width: 83%;
    height: 45vh;
    margin-top: 4em;
  }
  .about_section::before {
    margin-left: 0.5em;
    width: 95%;
    z-index: -1;
    padding-bottom: 0em;
  }
  .about_heading_div1 h1 {
    font-size: 1.6em;
    width: 100%;
    font-weight: 400;
  }
  .about_heading_div2 h4 {
    font-size: 1em;
    width: 100%;
    font-weight: 400;
  }
  .about_cards_div1 p {
    font-size: 0.8em;
    font-weight: 100;
    padding-bottom: 0em;
  }
  .about_cards_div2 img {
    width: 4.5em;
    height: 4.5em;
  }
  .about_cards_div1 h4 {
    margin: 0.2em;
    font-weight: 400;
    font-size: 1.1em;
  }
  .about_heading_div2 button {
    width: 11.5em;
  }
  /* about section */
  /* value section */

  .value_container1 {
    padding: 0.1em 1.2em;

    flex-direction: column;
    color: white;
  }
  .value_container1_div1 h1 {
    margin-bottom: 0.8em;
    font-size: 1.8em;
    font-weight: 100;
  }
  .value_container1_div2 button {
    margin: 2em 0;
  }
  .value_container2 {
    padding: 0em 1em;

    flex-direction: column;
  }
  .value_container2_div1 {
    width: 100%;
  }
  .value_container2_div1 h2 {
    margin: 0em 0em;
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 100;
  }
  .value_container2_img {
    width: 100%;
    margin: auto;
  }
  .value_container2_img img {
    width: 100%;
    height: 14em;
    margin-left: 0em;
  }
  /* value section */
  /* subscribe section */
  .suscribe_div1 {
    padding-top: 3em;
  }
  .suscribe_div1_input {
    width: 80%;
    height: 2.5em;
  }
  .suscribe_div1 h2 {
    font-size: 1.8em;
    font-weight: 300;
  }
  .suscribe_section {
    padding: 0em 1em;
  }
  /* subscribe section */
  /* footer section */
  .footer_container {
    flex-wrap: wrap;
  }
  .footer_divs {
    width: 50%;
  }
  .footer_divs h4 {
    color: white;
    font-weight: 500;
    font-size: 1em;
    margin-top: 2em;
  }
  .footer_section {
    margin-top: 1.5em;
}
  /* footer section */
}

@media (max-width: 360px) {
  /* navbar section */
  #check:checked ~ .navbar {
    height: 40vh;
  }
  /* navbar section */
  /* about section */
  .home_section_div1:before {
    top: 25em;
  }
  .about_section {
    margin-top: 31em;
  }
  .about_container {
    width: 83%;
    height: 50vh;
    margin-top: 6em;
  }
  .about_section::before {
    padding-bottom: 2em;
  }
  /* about section */
}
